<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="D:\Python39\python.exe|%HTTP_PLATFORM_PORT%|app.py" />
    </handlers>
    <httpPlatform processPath="D:\Python39\python.exe" arguments="app.py" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\stdout" startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
